body {
  overflow-x: hidden;
}

.medium-zoom-image--opened {
  object-fit: contain;
}

.full-width img {
  max-width: 105vw;
  max-height: 60vh;
  width: 105vw;
  object-fit: cover;
  position: relative;
  margin: 0 calc(50% - 50vw);
  border-radius: 0;
  z-index: -1;
}

@media (max-width: 950px) {
  .full-width img {
    left: 0%;
  }
}

@media (min-width: 950px) and (max-width: 1024px) {
  .full-width img {
    left: 5%;
  }
}

@media (min-width: 1024px) and (max-width: 1300px) {
  .full-width img {
    left: 18%;
  }
}

@media (min-width: 1300px) {
  .full-width img {
    left: 28%;
  }
}
