body {
  overflow-x: hidden;
}

.toc {
  z-index: 1;
}

img.full-width {
  max-width: 102vw;
  max-height: 60vh;
  width: 102vw;
  object-fit: cover;
  position: relative;
  border-radius: 0;
}

@media (max-width: 640px) {
  img.full-width {
    left: -1.5em;
  }
}

@media (min-width: 640px) and (max-width: 853px) {
  img.full-width {
    left: -3.5em;
  }
}

@media (min-width: 853px) and (max-width: 1024px) {
  img.full-width {
    left: -6em;
  }
}

@media (min-width: 1024px) and (max-width: 1300px) {
  img.full-width {
    left: -8.6em;
  }
}

@media (min-width: 1300px) {
  img.full-width {
    margin: 0 -50vw;
    left: 32em;
  }
}
